mediapipe/env/
pointing_gesture_recognition/gaze_detector/dataset/data/
pointing_gesture_recognition/rosbag/
pointing_gesture_recognition/rosbags/
pointing_gesture_recognition/manigaze_dataset/
pointing_gesture_recognition/gaze_detector/venv/
__pycache__/
*.pyc

pointing_gesture_recognition/gaze_detector/gaze_lib/__pycache__/detector.cpython-38.pyc
pointing_gesture_recognition/gaze_detector/ros/__pycache__/gaze_ros_node.cpython-38.pyc
rapport/
HSR_Manuals/
articles_familiarisation/
